#dropdown_dep {
    width: 300px;
    height: 40px;
    display:inline-block;
    padding-right: 20px;
}

#dropdown_level {
    width: 300px;
    height: 40px;
    display:inline-block;
}


.dropdown_search_opt {
    width: 70%;
    padding-left: 26%;
    padding-top: 0%;
    margin:0%;
}
